/* Image */
.ba-image-content {
  width: 50%;
  max-width: 100%;
  text-align: center;
}

.ba-image1 {
  width: 80%;
  height: auto;
}

/* Text */
.ba-text-content {
  width: 50%;
}


/* Checks */
.ba-checks {
  margin: 28px 0;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: .7px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.ba-icon-check {
  color: #1E8FFD;
}

.ba-check-first {
  margin-top: 40px;
}

.ba-check-last {
  margin-bottom: 40px;
}

/* Book Appointment Button */
.ba-appointment-btn {
  padding: 18px 24px;
  color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  outline: transparent;
  background-color: #1A8EFD;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: .8px;
  cursor: pointer;
  transition: all .4s ease;
}

.ba-appointment-btn:hover {
  color: #1A8EFD;
  background-color: transparent;
  border: 1px solid #1A8EFD;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .ba-image-content {
    width: 100%;
    max-width: 100%;
    margin: 0 0 32px 0;
  }

  .ba-text-content {
    width: 100%;
  }

  .ba-image1 {
    width: 80%;
    height: 80%;
  }
}
