
.dt-title-content {
  margin: 0 0 64px 0;
}


/* Doctor Cards */
.dt-cards-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.dt-card {
  width: 332px;
  height: 400px;
  gap: 32px;
  text-align: left;
  font-family: 'Rubik', sans-serif;
}

.dt-card-img {
  width: 100%;
  height: 275px;
  padding: 16px 32px 0;
  background-position: center;
  background-color: #DDE5F8;
  border-radius: 20px;
  object-fit: contain;
}

.dt-card-name {
  margin: 12px 0 0 0;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: .7px;
}

.dt-card-title {
  margin: 6px 0 8px;
  color: #494949;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  letter-spacing: .7px;
}

.dt-card-stars {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .7px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.dt-card-icon-star {
  color: #F7BB50;
  paddingRight: '6px'
}

.dt-card-reviews {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .7px;
}


